html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
/* SECCION 0. BARRA DE NAVEGACIÓN */
.contenedor .barraNav{
    width: 100%;
    height: 8vh;
    float: left;
    position: relative;

    background-color: rgb(8, 8, 121); 
    
}
.contenedor .barraNav nav{
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.contenedor nav a{
    float: left;
    display: block;
    color: rgb(246, 246, 250);
    padding-right: 20px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    opacity: 0.8;
}
.contenedor nav a:hover{
    cursor: pointer;
    opacity: 1;
}
.contenedor nav input{
    width: 100px;
    height: 35px;
    margin-right: 20px;

    font-size: 16px;
    font-weight: bold;
    border-radius: 40px; 
    border: transparent;
    background-color:  #007CE0;
    color: white;
    
}
.contenedor .barraNav img{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: 15px;
}
/* SECCION 1. PAGINA 1, MOVIL, TARJETA Y PIE*/

.contenedor .section1{
    width: 100%;
    height: 90vh;
    position: relative;
    float: left;
    
    background-image: url(/Diseño/img/vidriosRotos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #007CE0;
}
.contenedor .c-section1{
    width: calc(100% - 100px);
    height: 500px;
    position: relative;
    float: left;
    /* background-color: aqua; */
    top: calc(50% - 250px);
    margin: 0px 50px;
}

.contenedor .section1 .c-section1 .movil{
    position: absolute;
    float: left;
    width: 230px;
    height: 450px;
    z-index: 1;
    left: 15%;
    margin-top: 50px;
}
.contenedor .section1 .c-section1 .tarjeta{
    width: 250px;
    position: absolute;
    z-index: 5;
    left: 6%;
    top: 45%;
}
.contenedor .pie,
.contenedor .pie2,
.contenedor .pie3,
.contenedor .pie5,
.contenedor .pie6{
    width: 100%;
    height: 150px;
    position: relative;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%!important;
}

.contenedor .section1 .pie{
    margin-top: -100px;
    background-image: url(/Diseño/img/seccion1.png);
}
/* SECCION 1. PAGINA 1, SLIDER*/

.contenedor .slider{
    position: absolute;
    float: left;
    width: 50%;
    height: 250px;
    left: 30%;
    color: rgb(237, 241, 245);
    z-index: 10;
    overflow: hidden;
    top: calc(50% - 125px);
    left: calc(50% - 20px);

}
.contenedor .slider .c-slider{
    position: relative;
    float: left;
    width: 300%;     /*CHECK THIS*/
    height: 250px;
}
.contenedor .slider .c-slider .slide{
    position: relative;
    float: left;
    width: 33.3333%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contenedor .slider .c-slider #slider1 .texto,
.contenedor .slider .c-slider #slider2 .texto,
.contenedor .slider .c-slider #slider3 .texto{
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 60px;
}
/* BOTONES */
.contenedor .slider .btn{
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    line-height: 11px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 50%;
    color: aliceblue;
}
.contenedor .slider .btn:hover{
    opacity: 1;
}
#btnleft{
    top: calc(50% - 15px);
    margin-left: 5px;
}
#btnright{   
    top: calc(50% - 15px);
    left: calc(100% - 40px)
}
/* CSS DE CARTAS, SECCION 2 */

.contenedor .section2{
    position: relative;
    float: left;
    width: 100%;
    height: 550px;
    margin-bottom: 50px;
    background-image: url(/Diseño/img/vidriosRotos.png);
}

.contenedor .section2 .c-card{
    position: relative;
    float: left;
    width: 80%;
    height: 250px;
    margin: 15px;
    left: calc(50% - 40%);

    top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.contenedor .section2 .c-card .card{
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: transparent;
    transition: all 0.7s;
}
.contenedor .c-card .card:hover{
     -webkit-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
             box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
}
.contenedor .section2 .c-card .card .icon{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 15px;
}
.contenedor .section2 .c-card .card #iconluna{
    background-image: url(/Diseño/luna.png);
}
.contenedor .section2 .c-card .card #iconsol{
    background-image: url(/Diseño/sol.png);
}
.contenedor .section2 .c-card .card #iconestrella{
    background-image: url(/Diseño/star.png);
}

.contenedor .c-card .card p{
    color: gray;
    font-size: 14px;
}
.contenedor .c-card .card input{
    width: 125px;
    height: 35px;

    font-size: 14px;
    font-weight: bold;
    border-radius: 40px; 
    border: transparent;
    background-color:  #007CE0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contenedor .c-card .card input:hover{
 -webkit-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
         box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
}
.contenedor .pie2{
    position: relative;
    float: left;
    top: 31%; /* ESTO DEBO ARREGLARLO*/
    background-image: url(/Diseño/img/seccion2.png);
}
/* CODIGO CSS SECCION 3 ,,,,,,,,,,,TRABAJANDO AQUI*/ 

.contenedor .c-section3,
.contenedor .c-section4,
.contenedor .c-section5{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background-image: url(/Diseño/img/vidriosRotos.png);
}
.contenedor .c-section3{
    background-color: #F6F6F8;
}
.contenedor .c-section4{
    background-color: #007CE0;
}
.contenedor .c-section5{
    background-color: #FFF;
}
.contenedor .c-section3 .section3,
.contenedor .c-section4 .section4,
.contenedor .c-section5 .section5{
    position: relative;
    float: left;
    width: 80%;
    height: 450px;

    left: calc(50% - 40%);
    top: calc(50% - 125px);
}
.contenedor .c-section3 .section3 .luna h3{
    color: #007CE0;
    margin-bottom: 20px;
}
.contenedor .section3 .luna p{
    color: gray;
    font-size: 16px;
}
.contenedor .c-section3 .section3 .estadisticas,
.contenedor .c-section4 .section4 .estadisticas,
.contenedor .c-section5 .section5 .estadisticas{
    width: 40%;
    height: 250px;
    position: relative;
    background-image: url(/Diseño/img/estadisticas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px;
    top: 50%;
    margin-top: -125px;
}
.contenedor .c-section5 .section5 .estrella,
.contenedor .c-section3 .section3 .luna{
    float: left;
    margin-left: 5%;
}
.contenedor .c-section3 .section3 .estadisticas,
.contenedor .c-section5 .section5 .estadisticas{
    float: right;
    margin-right: 3%;
}
.contenedor .c-section4 .section4 .estadisticas{
    float: left;
    margin-left: 3%;
}
.contenedor .c-section3 .section3 .luna,
.contenedor .c-section4 .section4 .sol,
.contenedor .c-section5 .section5 .estrella{
    position: relative;
    float: left;
    width: 40%;
    height: 250px;
    top: 80px;

    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border: transparent;
    transition: all 0.7s;
}
.contenedor .c-section3 .section3 .luna .icon,
.contenedor .c-section4 .section4 .sol .icon,
.contenedor .c-section5 .section5 .estrella .icon{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    margin-left: 40%;
    margin-bottom: 15px;
}
.contenedor .c-section3 .section3 .luna .icon{
    background-image: url(/Diseño/luna.png);
}
.contenedor .c-section4 .section4 .sol .icon{
    background-image: url(/Diseño/sol.png);
}
.contenedor .c-section5 .section5 .estrella .icon{
    background-image: url(/Diseño/star.png);
}


/* CODIGO CSS PARA LA SECCION 4 */

.contenedor .pie3{
    background-image: url(/Diseño/img/seccion3.png);
    background-color: #F6F6F8;
}
.contenedor .c-section4 .section4{
    background-color: #007CE0;
    background-image: url(/Diseño/img/vidriosRotos.png);
}
.contenedor .c-section4 .section4 .sol{
    color: white;
    float: right;
    margin-right: 8%;
}
.contenedor .c-section4 .section4 .sol h3{
    margin-bottom: 20px;
}
/* CODIGO CSS PARA SECCION 5 */

.contenedor .pie4{
    width: 100%;
    height: 150px;
    position: relative;
    float: left;
    top: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%!important;
    background-image: url(/Diseño/img/seccion4.png);
}
.contenedor .c-section5 .section5{
    position: relative;
    float: left;
    background-color: white;
    background-image: url(/Diseño/img/vidriosRotos.png);
}
.contenedor .c-section5 .section5 .estrella p{
    color: gray;
    font-size: 16px;
}
.contenedor .c-section5 .section5 .estrella h3{
    margin-bottom: 20px;
    color: #007CE0;
}
.contenedor .c-section5 .section5 .estrella .icon{
    margin-bottom: 20px;
}
.contenedor .section5 .estrella .icon,
.contenedor .section3 .luna .icon,
.contenedor .c-section4 .section4 .sol .icon{
 -webkit-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
         box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);

}
/* CODIGO CSS PARA SECCION 6 */

.contenedor .pie5{
    background-image: url(/Diseño/img/seccion2.png);
    background-color: #fff;
}
.contenedor .section6{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background-color: #F6F6F8;
    padding: 0;
}
.contenedor .section6 h2{
    color: #007CE0;
    text-align: center;
    margin-bottom: 50px;
}
.contenedor .section6 .c-carta{
    position: relative;
    float: left;
    width: 90%;
    height: auto;
    background-color: #F6F6F8;

    left: calc(50% - 45%);    
}
.contenedor .section6 .c-carta .carta{
    position: relative;
    float: left;
    width: 30%;
    height: auto;

    background-color: #FFF;
    padding: 20px;
    text-align: center;
    margin: 10px;
    margin-bottom: 50px;
    border-radius: 20px;

    -webkit-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
            box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);

}
.contenedor .section6 .c-carta .carta p{
    font-size: 12px;
    color: gray;
}
.contenedor .section6 .c-carta .carta h6{
    font-size: 14px;
}
.contenedor .section6 .c-carta .carta input{
    width: 80px;
    height: 35px;

    font-size: 14px;
    font-weight: bold;
    border-radius: 40px; 
    border: transparent;
    background-color:  #007CE0;
    color: white;
    margin-bottom: 10%;
    text-align: center;
}
.contenedor .section6 .c-carta .carta input:hover{
    -webkit-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
            box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.75);
   }
.contenedor .section6 .c-carta .carta .perfil{
    position: relative;
    float: left;
    width:40px;
    height: 40px;
    background-image: url(/Diseño/img/Alumno.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: calc(50% - 20px);
}
/* CODIGO CSS PARA SECCION 7 */

.contenedor .pie6{
    background-image: url(/Diseño/img/seccion5.png);
    background-color: #F6F6F8;
}
.contenedor .section7{
    position: relative;
    float: left;
    width: 100%;
    height: 500px;
    background-color: #007CE0;
    background-image: url(/Diseño/img/vidriosRotos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.contenedor .section7 h2{   
    color: #FFF;
    text-align: center;
}
.contenedor .section7 .c-icons{
    width: 200px;
    height: 40px;
    position: relative;  
    float: left; 

    left: calc(50% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}
.contenedor .section7 .icon1,
.contenedor .section7 .icon2,
.contenedor .section7 .icon3{     
    width: 25px;
    height: 25px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.contenedor .section7 .icon1{  
    background-image: url(/Diseño/img/facebook.png);
}
.contenedor .section7 .icon2{  
    background-image: url(/Diseño/img/tweet.png);
}
.contenedor .section7 .icon3{   
    background-image: url(/Diseño/img/pinterest.png);
}

/* CODIGO PARA EL FORMULARIO */

.contenedor .form{
    width: 60%;
    height: auto;
    clear: both;

    left: calc(50% - 30%);
    margin-top: 40px;

    position: relative;
    float: left;
    background-color: aqua;
}
.contenedor .form #nombre::placeholder,
.contenedor .form #email::placeholder,
.contenedor .form #subject::placeholder,
.contenedor .form #mensaje::placeholder{
    font-size: 14px;
    font-weight: bold; 
    color: blue;
    opacity: 0.7;
}
.contenedor .form #nombre,
.contenedor .form #email{
    position: relative;
    float: left;
    width: 50%;
    height: 50px;
    padding: 4%;
    margin: 0%;
}
.contenedor .form #subject{
    width: 100%;
    height: 60px;
    padding: 4%;
}
.contenedor .form #mensaje{
    width: 100%;
    height: 90px;
    padding: 4%;

}
.contenedor .section7 .enviar{
    width: 125px;
    height: 35px;
    position: relative;
    float: left;
    clear: both;

    left: calc(50% - 62px);
    margin-top: 5%;

    font-size: 14px;
    font-weight: bold;
    border-radius: 40px; 
    border: transparent;
    background-color:  #FFF;
    color: #007CE0;
    text-align: center;
}
.contenedor .section7 .enviar:hover{
    -webkit-box-shadow: 0px 2px 16px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 16px -4px rgba(0,0,0,0.75);
         box-shadow: 0px 2px 16px -4px rgba(0,0,0,0.75);

         font-size: 16px;
}
/* COMIENZO A TRABAJAR EN EL RESPONSIVE PARA MOVIL*/

@media screen and (max-width: 500px){

    /* SECCION 0. BARRA DE NAVEGACIÓN */

    .contenedor .barraNav{
        height: auto;
        padding: 12px 0;    
    }
    .contenedor .barraNav nav{
        display: block;
        height: auto;
    }
    .contenedor nav a{
        width: 100%;
        padding: 4px 0;
        opacity: 0.8;
    }
    .contenedor nav a:hover{
        cursor: pointer;
        background-color: rgba(7, 91, 160,0.5);
        opacity: 1;
    }
    .contenedor nav input{
        float: left;
        position: relative;
        left: calc(50% - 50px);
        display: none;
    }
    .contenedor .barraNav img{
        position: relative;
        float: left;
        left: calc(50% - 20px);
        margin: 2px 0px;
    } 
    /* RESPONSIVE DEL MOVIL Y TARJETA */

    .contenedor .section1 .movil{
        position: relative;
        float: left;
        width: 230px;
        height: 450px;
        z-index: 4;
        left: 12%;
        top: 50%;
        margin-top: 75%;
    }
    .contenedor .section1 .tarjeta{
        z-index: 5;
        position: absolute;
        left: 5%;
        top: 45%;
    }
    /* RESPONSIVE DE SLIDER */
    section{
        width: 100%;
        position: relative;
        float: left;
    }
    .contenedor .slider{
        top: 5%;
        width: 320px;
        left: calc(50% - 160px);
    }
    .contenedor .slider .c-slider{
        position: absolute;
        float: left;
        width: 960px;
        height: 150px;
    }
    .contenedor .slider .c-slider .slider1,
    .contenedor .slider .c-slider .slider2,
    .contenedor .slider .c-slider .slider3{
        position: relative;
        float: left;
        width: 320px!important;
        height: 150px;
    
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor .slider .c-slider .slider1 .texto{
        padding: 15px;;
    }
    /* MOVIL, TARJETA Y PIE*/
    .contenedor .section1 .movil{
        position: absolute;
        float: left;
        width: 170px;
        height: 350px;
        z-index: 4;
        left: calc(50% - 85px);
        top: 70%;
        margin-top: -225px;
    }
    .contenedor .section1 .tarjeta{
        z-index: 5;
        position: absolute;
        left: 5%;
        top: 45%;
    }
    .contenedor .section1 .pie{
        position: absolute;
        float: left;
        top: calc(100% - 78px);
    }
    /* CSS DE CARTAS, SECCION 2 */

    .contenedor .section2 .c-card{
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        margin: 0;
        top: 0;
        left: 0;
        display: block;
    }
    .contenedor .section2 .c-card .card{
        position: relative;
        float: left;
        width: 80%!important;
        height: 150px;

        left: calc(50% - 40%);
     }
     .contenedor .section2 .pie2{
        height: 80px;
        position: absolute;
        float: left;
        top: 95%;
    }

     /* CSS DE CARTAS, SECCION 3, 4 y 5 */

     .contenedor .c-section3 .section3,
     .contenedor .c-section4 .section4,
     .contenedor .c-section5 .section5{     
         left: 50%;
         margin-left: -50%;
     }
     .contenedor .c-section4 .section4 .sol{
         float: left;
     }     
     .contenedor .c-section3 .section3 .estadisticas,
     .contenedor .c-section4 .section4 .estadisticas,
     .contenedor .c-section5 .section5 .estadisticas{
         background-image: none;
     }
    .contenedor .c-section3 .section3 .luna,
    .contenedor .c-section4 .section4 .sol,
    .contenedor .c-section5 .section5 .estrella{
        float: left;
        width: 90%;
        height: 250px;

        left: 50%;
        margin-left: -30%;
}

     /* CSS DE CARTAS, SECCION 6 */

    .contenedor .section6 .c-carta{
        position: relative;
        float: left;
        width: 80%;
        height: auto;
        background-color: #F6F6F8;
    
        left: calc(50% - 40%);    
    }
    .contenedor .section6 .c-carta .carta{
        position: relative;
        float: left;
        width: 80%;
        height: auto;
        left: calc(50% - 40%);    
        margin: 0px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 700px){
         /* CSS DE CARTAS, SECCION 6 */

    .contenedor .section6 .c-carta{
        position: relative;
        float: left;
        width: 60%;
        height: auto;
        background-color: #F6F6F8;
    
        left: calc(50% - 30%);    
    }
    .contenedor .section6 .c-carta .carta{
        position: relative;
        float: left;
        width: 80%;
        height: auto;
        left: calc(50% - 40%);    
        margin: 0px;
        margin-bottom: 50px;
    }

    /* RESPONSIVE DEL MOVIL Y TARJETA */

    .contenedor .section1 .movil{
        visibility: hidden;
    }
    .contenedor .section1 .tarjeta{
        visibility: hidden;
    }
    /* SECCION 1. PAGINA 1, SLIDER*/

    .contenedor .slider{
        top: 10%;
        width: 420px;
        left: calc(50% - 210px);
    }
    .contenedor .slider .c-slider{
        position: absolute;
        float: left;
        width: 1260px;
        height: 100px;
    }
    .contenedor .slider .c-slider .slider1,
    .contenedor .slider .c-slider .slider2,
    .contenedor .slider .c-slider .slider3{
        width: 520px!important;
        height: 150px;
    }
    .contenedor .slider .c-slider #slider1 .texto,
    .contenedor .slider .c-slider #slider2 .texto,
    .contenedor .slider .c-slider #slider3 .texto{
        position: relative;
        float: left;
        width: 100%;
        top: calc(50% - 40px)
    }
}
    /* CLASES PARA INSERTAR CON EL JAVASCRIPT JQUERY */
